body {
    background: linear-gradient(to right, #C9A227, #A8861B);
    color: #FFFFFF;
    font-family: "Times New Romans";
    width: 900px;
    margin: 30px auto;
    padding: 25px;
}

h1 {
    text-align: center;
    font-size: 28px;
    text-shadow: 2px 2px 4px #555555;
}

img {
    float: right;
    width: 300px;
    margin: 0 0 15px 25px;
    border: 4px solid #FFFFFF;
}

p {
    text-align: justify;
    font-size: 18px;
    line-height: 1. 6;
}