body {
    font-family: "Times New Roman";
}

.khung {
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    background-color: #FFFDE7;
    border: 2px solid #9E9E9E;
    text-align: center;
}

h1 {
    color: #D40000;
    background-color: #FFD9E6;
    font-weight: bold;
}

.xanh {
    color: #0033CC;
    font-style: italic;
}

.do {
    color: #D40000;
    font-style: italic;
}

hr {
    width: 55%;
    border: 0;
    border-top: 2px solid #0033CC;
}